In [1]:
import pandas as pd
df = pd.read_csv('50_sin_nulos_ni_atipicos_Chicago_Illinois_UnitedStates.csv')
df = df.drop(['Unnamed: 0'], axis = 1)
df.head(5)

,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_verifications,host_has_profile_pic,...,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,Rebecca,2008-08-29,No location,within an hour,100%,88.0,t,Hyde Park,"['email', 'phone']",t,...,19.0,1.0,4.99,4.98,4.99,4.99,4.98,4.95,4.94,2.08
1,Sarah,2009-05-19,"Chicago, IL",within an hour,100%,100.0,t,Ukrainian Village,"['email', 'phone']",t,...,36.0,1.0,4.71,4.85,4.57,4.91,4.87,4.90,4.75,2.94
2,At Home Inn,2009-08-21,"Chicago, IL",within an hour,94%,95.0,t,Old Town,"['email', 'phone', 'work_email']",t,...,30.0,4.0,4.70,4.83,4.81,4.84,4.87,4.98,4.72,0.82
3,Shay And Robert,2009-10-18,"Chicago, IL",within an hour,100%,75.0,f,Lincoln Park,"['email', 'phone']",t,...,1.0,0.0,4.94,4.69,5.00,5.00,5.00,5.00,4.81,0.14
4,Lauri,2009-07-25,Italy,within a few hours,100%,88.0,t,Bucktown,"['email', 'phone']",t,...,38.0,1.2,4.80,4.86,4.75,4.93,4.86,4.92,4.71,1.34

In [2]:
#Cambiar boleano a numerico en  host_identity_verified, host_is_superhost y instant_bookable
df["host_identity_verified"] = df["host_identity_verified"].replace({"t": 1, "f": 0})
df["host_is_superhost"] = df["host_is_superhost"].replace({"t": 1, "f": 0})
df["host_is_superhost"] = df["host_is_superhost"].replace({"Unknown": 0})
df["instant_bookable"] = df["instant_bookable"].replace({"t": 1, "f": 0})
#Cambio a numerico por jerarquia de property_type y room_type
    # Contar frecuencia de cada tipo de propiedad
frecuencia = df['property_type'].value_counts()
frecuencia2 = df['room_type'].value_counts()
    # Crear un diccionario con los valores numéricos según la frecuencia
property_map = {tipo: idx for idx, tipo in enumerate(frecuencia.index)}
property_map2 = {tipo: idx for idx, tipo in enumerate(frecuencia2.index)}
    # Reemplazar en el DataFrame
df['property_type'] = df['property_type'].map(property_map)
df['room_type'] = df['room_type'].map(property_map2)
df.head(5)

C:\Users\lmanu\AppData\Local\Temp\ipykernel_13292\140996917.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["host_identity_verified"] = df["host_identity_verified"].replace({"t": 1, "f": 0})
C:\Users\lmanu\AppData\Local\Temp\ipykernel_13292\140996917.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["host_is_superhost"] = df["host_is_superhost"].replace({"Unknown": 0})
C:\Users\lmanu\AppData\Local\Temp\ipykernel_13292\140996917.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["instant_bookable"] = df["instant_bookable"].replace({"t": 1, "f": 0})

,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_verifications,host_has_profile_pic,...,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,Rebecca,2008-08-29,No location,within an hour,100%,88.0,1,Hyde Park,"['email', 'phone']",t,...,19.0,1.0,4.99,4.98,4.99,4.99,4.98,4.95,4.94,2.08
1,Sarah,2009-05-19,"Chicago, IL",within an hour,100%,100.0,1,Ukrainian Village,"['email', 'phone']",t,...,36.0,1.0,4.71,4.85,4.57,4.91,4.87,4.90,4.75,2.94
2,At Home Inn,2009-08-21,"Chicago, IL",within an hour,94%,95.0,1,Old Town,"['email', 'phone', 'work_email']",t,...,30.0,4.0,4.70,4.83,4.81,4.84,4.87,4.98,4.72,0.82
3,Shay And Robert,2009-10-18,"Chicago, IL",within an hour,100%,75.0,0,Lincoln Park,"['email', 'phone']",t,...,1.0,0.0,4.94,4.69,5.00,5.00,5.00,5.00,4.81,0.14
4,Lauri,2009-07-25,Italy,within a few hours,100%,88.0,1,Bucktown,"['email', 'phone']",t,...,38.0,1.2,4.80,4.86,4.75,4.93,4.86,4.92,4.71,1.34

In [3]:
#['Private room' 'Entire home/apt' 'Shared room' 'Hotel room']
filtro1 = df[df["room_type"] == 1]
filtro2 = df[df["room_type"] == 0]
filtro3 = df[df["room_type"] == 3]
filtro4 = df[df["room_type"] == 2]

In [4]:
filtro1.to_csv("Private_room.csv", index=True)
filtro2.to_csv("Entire_home_apt.csv", index=True)
filtro3.to_csv("Shared_room.csv", index=True)
filtro4.to_csv("Hotel_room.csv", index=True)

In [5]:
filtro1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1731 entries, 0 to 8267
Data columns (total 52 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   host_name                    1731 non-null   object
 1   host_since                   1731 non-null   object
 2   host_location                1731 non-null   object
 3   host_response_time           1731 non-null   object
 4   host_response_rate           1731 non-null   object
 5   host_acceptance_rate         1731 non-null   float64
 6   host_is_superhost            1731 non-null   int64
 7   host_neighbourhood           1731 non-null   object
 8   host_verifications           1731 non-null   object
 9   host_has_profile_pic         1731 non-null   object
 10  host_identity_verified       1731 non-null   int64
 11  neighbourhood                1731 non-null   object
 12  neighbourhood_cleansed       1731 non-null   object
 13  property_type                1731 non-null   int64
 14  room_type                    1731 non-null   int64
 15  bathrooms_text               1731 non-null   object
 16  amenities                    1731 non-null   object
 17  price                        1731 non-null   float64
 18  has_availability             1731 non-null   object
 19  first_review                 1731 non-null   object
 20  last_review                  1731 non-null   object
 21  license                      1731 non-null   object
 22  instant_bookable             1731 non-null   int64
 23  host_id                      1731 non-null   int64
 24  host_acceptance_rate.1       1731 non-null   float64
 25  host_total_listings_count    1731 non-null   float64
 26  latitude                     1731 non-null   float64
 27  longitude                    1731 non-null   float64
 28  accommodates                 1731 non-null   float64
 29  bathrooms                    1731 non-null   float64
 30  bedrooms                     1731 non-null   float64
 31  beds                         1731 non-null   float64
 32  price.1                      1731 non-null   float64
 33  minimum_nights               1731 non-null   float64
 34  maximum_nights               1731 non-null   int64
 35  minimum_nights_avg_ntm       1731 non-null   float64
 36  maximum_nights_avg_ntm       1731 non-null   float64
 37  availability_30              1731 non-null   int64
 38  availability_60              1731 non-null   int64
 39  availability_90              1731 non-null   int64
 40  availability_365             1731 non-null   int64
 41  number_of_reviews            1731 non-null   float64
 42  number_of_reviews_ltm        1731 non-null   float64
 43  number_of_reviews_l30d       1731 non-null   float64
 44  review_scores_rating         1731 non-null   float64
 45  review_scores_accuracy       1731 non-null   float64
 46  review_scores_cleanliness    1731 non-null   float64
 47  review_scores_checkin        1731 non-null   float64
 48  review_scores_communication  1731 non-null   float64
 49  review_scores_location       1731 non-null   float64
 50  review_scores_value          1731 non-null   float64
 51  reviews_per_month            1731 non-null   float64
dtypes: float64(25), int64(11), object(16)
memory usage: 716.7+ KB